<html>

<head>
<title>{{title}}</title>
</head>

<body>

<h1>{{title}}</h1>

{{#var}}day = tuesday{{/var}}
{{{content}}}

<p>{{#greet}}trees{{/greet}} {{#greet}}flowers{{/greet}} {{#greet}}sky{{/greet}}</p>

</body>

</html>
